.stage{display:none}.stage h1{text-align:center}.stage .cavasWrapper .canvas-btn{display:block;position:absolute;top:5px;right:20px;font-size:20px;line-height:1;padding:6px;background-color:rgba(0,0,0,0.25);border-radius:8px;color:white;z-index:20}.stage .cavasWrapper .canvas-btn:before{font-family:FontAwesome;content:"\f1de"}.stage .cavasWrapper .canvas-btn:hover{background-color:rgba(0,0,0,0.5);font-size:22px;padding:5px}.stage .cavasWrapper .settings-panel{display:none;box-shadow:1px 1px 3px grey,-1px 1px 3px grey,1px -1px 3px grey,-1px -1px 3px grey;position:absolute;top:5px;right:20px;z-index:19;padding:20px 10px;background-color:rgba(255,255,255,0.9)}.stage .cavasWrapper .settings-panel.active{display:block}.stage .cavasWrapper .settings-panel .settings-row{display:block;width:300px;margin-bottom:40px;position:relative}.stage .cavasWrapper .settings-panel .settings-row:after{display:table;content:"";clear:both}.stage .cavasWrapper .settings-panel .settings-row label{display:block;margin-bottom:0}.stage .cavasWrapper .settings-panel .settings-row input{display:block;width:200px;float:left}.stage .cavasWrapper .settings-panel .settings-row .result{float:left;display:block;width:100px;text-align:center;line-height:0;margin-top:7px}.stage .cavasWrapper .settings-panel .settings-row .result:after{content:"\f111";font-family:FontAwesome}.stage .cavasWrapper .settings-panel .brush-color .result{font-size:60px;text-shadow:0 0 10px #565656}.stage #canvas{border:1px solid #000000;display:block;height:500px;width:100%}.stage #chatColumn:after{display:table;content:"";clear:both}.stage #chatColumn .messages{border:1px solid red;width:100%;display:block;height:500px;margin:0 0 10px 0;resize:none;overflow-y:scroll;outline:0;position:relative}.stage #chatColumn .messages p{display:block;margin:0;padding-bottom:5px}.stage #chatColumn .messages p .username{font-weight:bold}.stage #chatColumn .messages p .user-message{word-wrap:break-word}.stage #chatColumn .messages .chatWelcome{text-align:center;font-style:italic;color:#5b5b5b;font-weight:bold;letter-spacing:1px;font-size:16px}.stage #chatColumn input,.stage #chatColumn textarea{display:block;width:100%;margin:5px 0}.stage #chatColumn button[type="submit"]{float:right}.intro h1{text-align:center;margin-top:100px}.intro h3{text-align:center}.intro .action-box{max-width:800px;margin:10px auto;padding:30px 45px}.intro .action-box input.username{display:block;margin:0 0 25px 0;width:100%;font-size:24px;text-align:center}.intro .action-box .left{float:left;width:50%;display:block;border-right:1px solid grey;padding-right:45px}.intro .action-box .right{float:right;width:50%;display:block;position:relative;padding-left:45px}.intro .action-box .right:before{content:"OR";display:block;height:55px;width:55px;font-size:26px;color:#FB4D3D;background-color:#fff;position:absolute;top:50px;left:-27px;border-radius:100px;line-height:53px;border:1px solid grey}.intro .action-box>div{text-align:center;padding:3px}.intro .action-box>div p{font-size:26px;text-align:center}.intro .action-box>div input{display:block;width:100%;font-size:24px;text-align:center}.intro .action-box>div button{display:block;width:100%;margin:20px auto 0;background-color:#1eb91e;color:white;font-size:22px;line-height:1;padding:15px;border-radius:5px;transition:linear .15s;box-shadow:0 0 15px #868686}.intro .action-box>div button:hover,.intro .action-box>div button:focus{box-shadow:0 0 0 transparent;text-shadow:1px 1px 1px black;background-color:#158315}button{border:none;background-color:transparent;outline:0}

#table{
  display:block;
  text-align: center;
}

.card {
  width: 28%;
  height: auto;
  min-height:100px;
  margin:0px 10px;
  position: relative;
  display: inline-block;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  border-radius: 4px;
}
.cardInner {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
}
.cardInner div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}
.cardInner .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cardInner.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}